.header {
    background-color:#333;
    color: #f9ecd5;
}

.PageTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

table th {
    padding: 10px;
    background-color: #fbc25b;
}

table td {
    padding: 10px;
    text-align: center;
    background-color: #f9ecd5;
}

.btn {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

a {
    text-decoration: none;
}